{% extends 'base.html' %}
{% block body %}
<div class="container flex-nowrap">
<h1 class="text-dark jumbotron">{{ movie.title }}</h1>

<div class="text-right">
<h3 class="secondary"><span style="font-size:0.7rem"class="text-muted">관객 수 :</span>{{ movie.audience }} </h3>
<div class="p-5 shadow">
<img src="{{ movie.poster_url }}" style="width:100%; height:100%"alt="">
</div>
<h3 class="secondary"><span style="font-size:0.7rem"class="text-muted">장르:</span>{{ movie.genre.name }}</h3>

</div>
<div class="text-area readonly px-5 py-2 shadow mb-5">{{ movie.description }}</div>
<div class="container float-right">
    {% if user in movie.like_users.all %}
    <a href="{% url 'movies:like' movie.pk %}"><button class="btn btn-outline-danger">안좋아요 {{ movie.like_users.count }}</button></a>
    {% else %}
    <a href="{% url 'movies:like' movie.pk %}"><button class="btn btn-danger">좋아요 {{ movie.like_users.count }}</button></a>
    {% endif %}
    </div>
<div class="">
  
<h2 class="text-center">평균 평점: {{ movie.score_avg }}점</h2>
<h1>평점 목록 </h1>
<div style="background-color:#f5f5dc">
{% for review in reviews %}
<form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="post">
{% csrf_token %}
<div class="card card-body text-center">
<div class=" text-primary"><span style="font-size:0.5rem"class="text-muted">score:</span><h4>{{ review.score }}</h4></div>
<h5>{{ review.content }}</h5>
<input class="btn btn-primary btn-border btn-fluid" type="submit" value="댓글 삭제">
</form>
</div>
</div>
{% endfor %}
{% if user.is_authenticated %}
<div class="shadow container border p-1 m-1">
<form class="form-group" action="{% url 'movies:review_create' movie.pk %}" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-success btn-border btn-fluid" type="submit" value="댓글 달기">
</form>
{% endif %}
</div>
</div>
</div>
{% endblock %}
