{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<h1 class="asdf">dfasdf</h1>
<div class="container flex-nowrap justify-content-center text-center bg-dark text-light shadow text-shadow">
  <div class="row">
    <form action="{% url 'accounts:display' %}">
    {% for movie in movies %}
    <div class="col-2 flex-nowrap shadow mb-5">
      <img style="height:100%;width:100%" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_url }}" alt="">
      <div class="stars">
        <select name="{{ movie.pk }}" id="{{ movie.pk }}">
          <option value="0">선택안함</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    {% endfor %}
    <input type="submit" value="제출">
    </form>
  </div>
</div>
{% endblock %}